* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

html {
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    cursor: pointer;
}

header {
    width: 100vw;
    height: 60px;
}

header nav {
    display: flex;    
    justify-content: flex-end;
    margin-top: 5px;
    padding: 6px;
    
}

header nav .nav-right-section {
    width: 250px;
    height: auto;
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
}

nav .nav-right-section a {
    margin-right: 15px;
    color: #000000DE;
    
}

nav .nav-right-section .menu svg {
    width: 24px;
    height: 24px;
    fill: #5f6368;
}

nav .nav-right-section img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-left: 10px;
}

main {
    margin-top: 150px;
    text-align: center;
}

main .main-logo {
    width: 530px;
    margin: 0 auto;
    margin-bottom: 35px;
}

main .main-logo img {
    width: 300px;
}

main .main-input {
    width: 530px;
    margin: 0 auto;
    margin-bottom: 35px;
}

main .main-input-container {
    width: 525px;
    border-radius: 100px;
    border: 2px solid #f1f2f4;
    display: flex;
    justify-content: center;
    align-items: center;
}

main .main-input input {
    width: 460px;
    height: 40px;
    border: none;
    outline: none;
}

main .main-input-container .search-icon {
    width: 20px;
    height: 20px;
    margin-left: 20px;
    
}

main .main-input-container .micro-icon {
    width: 24px;
    height: 24px;
    margin-right: 20px;
}

main .main-input-container:hover {
    box-shadow: 0 1px 6px 0 #20212447;
    border-color: #def1e500;
}

main .main-input-container input {
    padding: 10px;
    font-size: 1.6rem;
}


main .main-buttons {
    width: 530px;
    margin: 0 auto;
    
}

main .main-buttons div {
    display: inline-block;
    
}

main .main-buttons button {
    height: 36px;
    background-color: #F8F9FA;
    border: 0;
    font-size: 1.4rem;
    color: #5f6368;
    border-radius: 5px;
    padding: 0 15px;
    margin-right: 10px;
    
}

main .main-buttons button:hover {
    border: 1px solid #c6c6c6;
    box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
    color: #222;
    background-color: #f8f8f8;
}




 /* .division1 {
    padding: 0px 4px 0px 32px;
}

.division1 a {
    font-size: 1.3rem;
    color: #000000DE;
    text-decoration: none;
    padding: 0px 0px 0px 15px;
    align-items: center;
}

.division2  {
    display: flex;
    padding: 8px;
    align-items: center;

        
}



.user {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    padding: 0px auto 0px 32px;
    
    
}

a .user {
    padding: 4px;
}

.products-container {
    display: flex;
    padding: 0px 20px 0px 20px;
    
}
.products {
    align-items: center;
    justify-content: center;
    height: 2.6rem;
    width: 2.6rem;
    fill: #6D7075;
    
}

.division2 a  :hover {
    background-color: #F0F0F0;
    border-radius: 50%;
}



.logo-container {
    display: flex;
    width: 100vw;
    height: 162px;
    justify-content: center;
    align-items: flex-end;
}

.input-container {
    display: flex;
    width: 100vw;
    height: 80px;
    padding: 20px;
    justify-content: center;
}

.input-text {
    display: flex;
    width: 582px;
    height: 44px;
    border: solid 1px #cfcfcf;
    border-radius: 25px;
    padding: 5px 8px 0px 14px;
}

/* .input-text :hover {
    background-color: #fff;
    box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
    border-color: rgba(223,225,229,0);
} */

/* .lupa {
    display: flex;
    width: 20px;
    height: 35px;
    
   
    
}

.lupita {
    width: 20px;
    height: 20px;
    
}

input {
    width: 487px;
    height: 34px;
    border: none;
    padding: 0px 0px 0px 13px;
    margin-left: 10px;  
    
}

.microfono {
    display: flex;
    width: 35px;
    height: 25px;
    padding: 4px 0px 0px 4px;
    justify-content: flex-end;
    vertical-align: middle;
}

.micro {
    width: 24px;
    height: 24px;
}

.botones {
    display: flex;
    width: 100vw;
    height: 58px;
    justify-content: center;
    padding: 5px 0px 0px 0px;
}
.boton1 {
    width: 154px;
    height: 36px;
    
}

.boton2 {
    width: 168px;
    height: 36px;
}

.boton1,
.boton2 {
    margin: 11px 6px;
    padding: 0px 16px;
    background-color: #f8f9fa;
    border-radius: 5px;
    font-size: 1.4rem;
    font-weight: 400;
}

.enlace {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    height: 245px;
    width: 100vw;
}

.enlace p {
    font-size: 1.3rem;
    font-weight: 400;

}

.idioma {
    color: #1a0dab;
    text-decoration: none;

} */

 */
