* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

html {
    font-size: 62.5%;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: flex-endh;
}

.products {
    height: 2.4rem;
    fill: #6D7075;
}