* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

html {
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
}

.navegacion {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 5px;
    padding: 6px;
    width: 100vw;
    height: 48px;
}

.division1 {
    padding: 0px 4px 0px 32px;
}

.division1 a {
    font-size: 1.3rem;
    color: #000000DE;
    text-decoration: none;
    padding: 0px 0px 0px 15px;
    align-items: center;
}

.division2  {
    display: flex;
    padding: 8px;
    align-items: center;

        
}



.user {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    padding: 0px auto 0px 32px;
    
    
}

a .user {
    padding: 4px;
}

.products-container {
    display: flex;
    padding: 0px 20px 0px 20px;
    
}
.products {
    align-items: center;
    justify-content: center;
    height: 2.6rem;
    width: 2.6rem;
    fill: #6D7075;
    
}

.division2 a  :hover {
    background-color: #F0F0F0;
    border-radius: 50%;
}



.logo-container {
    display: flex;
    width: 100vw;
    height: 162px;
    justify-content: center;
    align-items: flex-end;
}

.input-container {
    display: flex;
    width: 100vw;
    height: 80px;
    padding: 20px;
    justify-content: center;
}

.input-text {
    display: flex;
    width: 582px;
    height: 44px;
    border: solid 1px #cfcfcf;
    border-radius: 25px;
    padding: 5px 8px 0px 14px;
}

/* .input-text :hover {
    background-color: #fff;
    box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
    border-color: rgba(223,225,229,0);
} */

.lupa {
    display: flex;
    width: 20px;
    height: 35px;
    
   
    
}

.lupita {
    width: 20px;
    height: 20px;
    
}

input {
    width: 487px;
    height: 34px;
    border: none;
    padding: 0px 0px 0px 13px;
    margin-left: 10px;  
    
}

.microfono {
    display: flex;
    width: 35px;
    height: 25px;
    padding: 4px 0px 0px 4px;
    justify-content: flex-end;
    vertical-align: middle;
}

.micro {
    width: 24px;
    height: 24px;
}

.botones {
    display: flex;
    width: 100vw;
    justify-content: center;
    padding: 5px 0px 0px 0px;
}
.boton1 {
    width: 154px;
    height: 36px;
    
}

.boton2 {
    width: 168px;
    height: 36px;
}

.boton1,
.boton2 {
    margin: 11px 6px;
    padding: 0px 16px;
    background-color: #f8f9fa;
    border-radius: 5px;
    font-size: 1.4rem;
    font-weight: 400;
}